{% extends 'estructura/principal.html' %}

{% block contenido %}
<div class="container mt-5">
    <h2>Lista de Tiendas</h2>
    {% if tiendas_mostrar %}
    <div class="row">
        {% for tienda in tiendas_mostrar %}
        <div class="col-md-6 mb-4">
            {% include 'tiendas/tienda.html' %}
            <div class="text-end me-1">
                <a class="btn btn-primary" href="{% url 'get_tienda' tienda.id %}">Más Información</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No hay tiendas registrados.</p>
    {% endif %}
</div>
{% endblock %}