{% extends 'estructura/principal.html' %}

{% block titulo %}
    <title>Formulario edición tienda</title>
{% endblock %}

{% block contenido %}
    <div class="container mt-5 mb-5">
        <h2>Editar Tienda</h2>

        <form method="post" action="{% url 'edit_tienda' tienda_edited.id %}">
            
            {% load django_bootstrap5 %}
            {% csrf_token %}
            {% bootstrap_form edit_tienda %}
           
            <button type="submit" class="btn btn-primary mb-2">Editar</button>
        </form>
    </div>
{% endblock %}