{% extends 'estructura/principal.html' %}

{% block contenido %}
<div class="container mt-5">
    <h2>Lista de Medicamentos</h2>

    <form method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="buscar" class="form-control" placeholder="Buscar medicamento..." value="{{ buscar }}">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>

    {% if medicamentos_mostrar %}
    <div class="row">
        {% for medicamento in medicamentos_mostrar %}
        <div class="col-md-6 mb-4">
            {% include 'medicamentos/medicamento.html' %}
            <div class="text-end me-1">
                <a class="btn btn-primary me-2" href="{% url 'get_medicamento' medicamento.id %}">Más Información</a>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <p>No hay medicamentos registrados.</p>
    {% endif %}
</div>
{% endblock %}
