<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'inicio' %}">Tienda Online</a>
        {% if request.user.is_authenticated %}
            <span class="navbar-text text-white ms-3 me-5">
                <span class="badge text-bg-info">Usuario: {{ request.user.username }}</span>

                {% if request.user.rol == 1  %}
                <span class="badge bg-danger">Rol: Admin</span>
                
                {% elif request.user.rol == 2 %}
                <span class="badge bg-primary">Rol: Cliente</span>

                {% else %}
                <span class="badge bg-success">Rol: Vendedor</span>

                {% endif %}
            </span>
        {% endif %}

        <p class="navbar-brand">
            Fecha inicio:
            </br>
            {{ request.session.fecha_inicio}}
        </p>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                </li>
                {% if perms.tienda.view_cliente %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_clientes' %}">Listado de Clientes</a>
                </li>
                {% endif %}
                {%if perms.tienda.view_vendedor %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_vendedores' %}">Listado de Vendedores</a>
                </li>
                {%endif%}

                {%if perms.tienda.view_medicamento %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_medicamentos' %}">Medicamentos</a>
                </li>
                {%endif%}

                {%if perms.tienda.add_medicamento %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_medicamento' %}">Crear Medicamentos</a>
                </li>
                {%endif%}

                {%if perms.tienda.view_tienda %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_tiendas' %}">Ver tiendas</a>
                </li>
                {%endif%}

                {%if perms.tienda.add_tienda %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_tienda' %}">Crear tienda</a>
                </li>
                {%endif%}

                {%if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'ver_perfil' %}" class="nav-link">Ver Perfil</a>
                </li>
                {%endif%}
                
                <li class="nav-item ms-2">
                    {% if not request.user.is_authenticated %}
                    <a class="btn btn-outline-warning" href="{% url 'login' %}">
                        Login
                    </a>
                    {% endif %}
    
                    {% if not request.user.is_authenticated %}
                    <a class="btn btn-outline-warning" href="{% url 'registrar_usuario' %}">
                        Registrarse
                    </a>
                    {% endif %}
    
                    {% if request.user.is_authenticated %}
                    <form action="{% url 'logout' %}" class="d-flex ms-auto" role="search" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-light btn-outline-dark" type="submit">Desconectarse</button>
                    </form>
                    {% endif %}
                    
                </li>        
            </ul>
        </div>
    </div>
</nav>