<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}

    {% block titulo %}
    <title>Mi tienda online</title>
    {% endblock %}
</head>

<body>

    {% include 'estructura/menu.html' %}


    {% if messages %}
    <div class="container mt-4">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <!-- TODO cerrar -->
            <strong>{{ message.tags|capfirst }}!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="container mt-5">
        <h1 class="text-center">¡Bienvenido a mi Tienda Online!</h1>
        {% block contenido %}
        {% endblock %}
    </div>

    {% include 'estructura/pie.html' %}

    {% bootstrap_javascript %}
</body>

</html>